<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="assets\style\font-awesome.min.css">
  <link rel="stylesheet" href="assets\style\theme.css" type="text/css">  
  <link rel="stylesheet" href="assets\style\custome.css" type="text/css"> 
</head>

<body>
  <div class="py-5 text-center" >
    <div class="container py-2">
      <div class="row">
        <div class="py-5 ">
          <div class="center container">
            <div class="row">
              <div class="mx-5 col-md-4">
                <img class="d-block img-fluid my-3" src="\images\logo\newlogo.png"> 
                </div>
              <div class="col-md-6">
                <div class="mx-2">
                <div class="container table-bordered">
                  <div class="card-body">
                    <h1 class="mb-2">Login</h1>
                    <h6 class="mb-4">Belum memiliki akun ?
                      <a href="\register" class="warnabiru">
                        <u>
                          <b>Daftar</b>
                        </u>
                      </a>
                    </h6>
                    <form action="https://formspree.io/YOUREMAILHERE" >
                      <div class="from-group mb-3">
                        <input type="email" class="form-control" placeholder="Email">
                        </div>
                      <div class="form-group">
                        <input type="password" class="form-control" placeholder="Kata Sandi"> </div>
                        <div class="textright mb-3">
                          <a href="#" class="warnabiru mt-4">
                            <u>
                              <b>Lupa Kata Sandi ?</b>
                            </u>
                          </a>
                        </div>
                      <button type="submit" class="btn btn-warnabiru">Login</button>
                    </form>
                  </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  
</body>

</html>