<form action="/rekomendasi/create" method="post">
    Id Anime : <input type="text" name="id_anime"><br>
    nama_anime : <input type="text" name="nama_anime"><br>
    Action : <input type="text" name="action"><br>
    adventure <input type="text" name="adventure"><br>
    comedy <input type="text" name="comedy"><br>
    scifi <input type="text" name="scifi"><br>
    drama <input type="text" name="drama"><br>
    space <input type="text" name="space"><br>
    supernatural <input type="text" name="supernatural"><br>
    thriller <input type="text" name="thriller"><br>
    mystery <input type="text" name="mystery"><br>
    seinen <input type="text" name="seinen"><br>
    school <input type="text" name="school"><br>
    historical <input type="text" name="historical"><br>
    echi	 <input type="text" name="echi"><br>
    sliceoflife	 <input type="text" name="sliceoflife"><br>
    harem	<input type="text" name="harem"><br>
    pyschological	<input type="text" name="pyschological"><br>
    superpower	<input type="text" name="superpower"><br>
    fantasy	<input type="text" name="fantasy"><br>
    mecha	<input type="text" name="mecha"><br>
    sports	<input type="text" name="sports"><br>
    romance	<input type="text" name="romance"><br>
    shounen	<input type="text" name="shounen"><br>
    horor	<input type="text" name="horor"><br>
    martialarts	<input type="text" name="martialarts"><br>
    magic<input type="text" name="magic"><br>
    <input type="submit" value="Simpan">
</form>