<table>
    <tr>
        <td>
            <%= anime.id %>
            ../../assets/images/anime/<%= anime.photo_url %>
        </td>
    </tr>
    <tr>
        <td>
            <img src="http://localhost:1337/images/anime/<%= anime.photo_url %>">ini image
            
        </td>
    </tr>
</table>